
@media (max-width:1200px) {
    
}
@media (max-width:1000px) {
    .container {
        width: 54%;
    }
}
@media (max-width:992px) {
    .container {
        width: 62%;
    }
}
@media (max-width:778px) {
    .container {
        width: 78%;
    }
}
@media (max-width:676px) {
    .container {
        width: 85%;
    }
}
@media (max-width:450px) {
    .container h1 {
        font-size: 20px;
    }
}
@media (max-width:400px) {
    .container h1 {
        font-size: 20px;
    }
}
@media (max-width:300px) {
    .container {
        width: 80%;
    }
    .container h1 {
        color: red;
        margin-top: -48px;
        margin-bottom: 47px;
        font-size: 16px;
    }
    #ammount, select, button {
        padding: 5px 6px;
        margin-right: 0;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
    }
}
















